.footer {
  padding: 1.25rem 1rem;
  background-color: var(--color-white);
  box-shadow: 0 -5px 30px 0 rgba(226, 236, 249, 0.5);

  @media (min-width: 1024px) {
    padding: 1.75rem 1rem;
    box-shadow: none;
  }

  @media (min-width: 1366px) {
    padding: 1.75rem 1.75rem 5.75rem;
  }
}

.footer-user {
  display: grid;
  grid-template-columns: 2.625rem auto;
  column-gap: 0.75rem;
  align-items: center;

  &:hover {
    .footer-user__name {
      color: var(--color-dark-grey2);
    }
  }
}

.footer-user__img {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
}

.footer-user__name {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  font-weight: 500;
  color: var(--color-black);
  transition: color .3s;
}

.footer-user__position {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  font-size: var(--font-size-small);
  color: var(--color-dark-grey2);
}