.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 1rem;
  background-color: var(--color-white);
  box-shadow: 0 5px 30px 0 rgba(226, 236, 249, 0.5);

  @media (min-width: 1024px) {
    display: block;
    padding: 1.75rem 1rem;
    box-shadow: none;
  }

  @media (min-width: 1366px) {
    padding: 2.25rem 1.75rem;
  }
}

.header-logo {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  font-size: 0.625rem;
  color: var(--color-dark-grey);
}

.header-logo__img {
  display: block;
  width: 100%;
  height: 2.5rem;
  width: 12.25rem;
}

.header-logo__ver {
  display: block;
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  line-height: 1;
}

.header-burger {
  position: relative;
  display: flex;
  width: 2rem;
  height: 1.5rem;
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 45%, rgba(0,0,0,1) 45%, rgba(0,0,0,1) 55%, rgba(0,0,0,0) 55%, rgba(0,0,0,0) 100%);
  border: none;
  outline-color: var(--color-grey-medium);
  cursor: pointer;

  @media (min-width: 1024px) {
    display: none;
  }

  &.is-active {
    background: none;

    &:before {
      top: 45%;
      transform: rotate(45deg);
    }
  
    &:after {
      top: 45%;
      bottom: auto;
      transform: rotate(-45deg);
    }
  }
  
  &:before,
  &:after {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 10%;
    background-color: var(--color-black);
    content: '';
    transition: transform 0.3s;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}