.sidebar {
  padding: 1.25rem 1rem;
  background-color: var(--color-white);

  @media (min-width: 1024px) {
    padding: 1rem;  
  }

  @media (min-width: 1366px) {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }
}

.sidebar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-menu__item {
  display: block;
  margin-bottom: 1rem;
}

.sidebar-menu__item--current {
  .sidebar-menu__link {
    background-color: var(--color-purple);

    .sidebar-menu__text {
      color: var(--color-white);
    }

    .sidebar-menu__icon {
      stroke: var(--color-white);
    }

    .sidebar-menu__arrow {
      stroke: var(--color-white);
    }
  }
}

.sidebar-menu__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0.5rem 0.75rem 0.75rem;
  border-radius: 0.5rem;
  font-weight: 500;
  letter-spacing: -0.025rem;
  transition: background-color .3s;

  &:hover {
    background-color: var(--color-purple);

    .sidebar-menu__text {
      color: var(--color-white);
    }

    .sidebar-menu__icon {
      stroke: var(--color-white);
    }

    .sidebar-menu__arrow {
      stroke: var(--color-white);
    }
  }
}

.sidebar-menu__icon {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  stroke: var(--color-grey-menu);
  stroke-width: 0.09375rem;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke .3s;
}

.sidebar-menu__text {
  display: block;
  flex-grow: 1;
  padding: 0 0.875rem;
  color: var(--color-grey-menu);
  transition: color .3s;
}

.sidebar-menu__arrow {
  display: block;
  width: 1.1rem;
  height: 1.1rem;
  flex-shrink: 0;
  stroke: var(--color-grey-menu);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.125rem;
  transition: stroke .3s;
}